:root {
    --background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --accent-color: #2196F3;
    --text-color: #212121;
    --secondary-text-color: #757575;
}
a {text-decoration: none;}
ul {list-style: none;}
body {
    background: var(--background-color);
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/*=============== HEADER ===============*/

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--text-color);
}
.logo-header span {
    color: var(--accent-color);
}
.nav-menu a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.nav-menu :hover,
.nav-menu :focus {
    color: var(--accent-color);
}
.nav-menu .active {
    color: var(--accent-color);
}
.header-contacts a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.header-contacts :hover,
.header-contacts :focus {
    color: var(--accent-color);
}

/*=============== END HEADER ===============*/

/*=============== HERO ===============*/

.hero {
    background-color: var(--secondary-background-color);
}
.hero h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}
.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--accent-color);
}

/*=============== END HERO ===============*/

/*=============== FEATURE ===============*/

.feature h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.feature p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*=============== END FEATURE ===============*/

/*=============== OUR TEAM ===============*/

.our-team {
    background: #F5F4FA;
}
.rep-team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.our-team-list h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-list p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
}

/*=============== END OUR TEAM ===============*/

/*=============== FOOTER ===============*/


.footer {
    background-color: var(--secondary-background-color);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.footer-logo span {
    color: var(--accent-color);
}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.footer-contacts {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:focus,
.footer-contacts:hover {
    color: var(--accent-color);
}

/*=============== END FOOTER ===============*/

/*=============== MAIN PORTFOLIO ===============*/


.filter-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background: #2196F3;
}
.work-examples h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}
.work-examples p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*=============== END MAIN PORTFOLIO ===============*/

